<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:context="http://www.springframework.org/schema/context"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<!--定义文件的上传配置支持-->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!--设置每次上传文件的最大限制-->
		<property name="maxUploadSize" value="5242880"/>
		<!--设置每次上传占用的内存大小-->
		<property name="maxInMemorySize" value="4096"/>
	</bean>

	<!--配置了一个全局的异常跳转映射，只要出现了指定的错误信息，那么就跳转到指定的页面-->
	<bean id="exceptionMapping" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">
					errors
				</prop>
			</props>
		</property>
	</bean>

	<!--表示要进行安全访问的路径资源匹配处理-->
	<!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
		<!--&lt;!&ndash;匹配前缀&ndash;&gt;-->
		<!--<property name="prefix" value="/WEB-INF/pages/"/>-->
		<!--&lt;!&ndash;匹配后缀&ndash;&gt;-->
		<!--<property name="suffix" value=".jsp"/>-->
	<!--</bean>-->

	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<array>
				<value>message</value>
				<value>pages</value>
				<value>validations</value>
			</array>
		</property>
	</bean>

	<!-- 用于使用@ResponseBody后返回中文避免乱码 -->
	<!--<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">-->
		<!--<property name="messageConverters">-->
			<!--<list>-->
				<!--<bean id="stringHttpMessageConverter"-->
					  <!--class="org.springframework.http.converter.StringHttpMessageConverter">-->
					<!--<property name="writeAcceptCharset" value="false" />-->
					<!--&lt;!&ndash; 用于避免响应头过大 &ndash;&gt;-->
					<!--<property name="supportedMediaTypes">-->
						<!--<list>-->
							<!--<value>text/html;charset=UTF-8</value>-->
						<!--</list>-->
					<!--</property>-->
				<!--</bean>-->
			<!--</list>-->
		<!--</property>-->
	<!--</bean>-->

	<context:annotation-config/>
	<context:component-scan base-package="com.zhy.action"/>
	<mvc:annotation-driven/>			<!-- 启动Spring MVC的注解配置 -->
	<mvc:default-servlet-handler/>		<!-- 启用处理请求的servlet -->
	<!--拦截器配置-->
	<!--定义拦截器栈，可以定义有多个拦截器-->
	<!--<mvc:interceptors>-->
		<!--<mvc:interceptor>-->
			<!--&lt;!&ndash;该拦截器针对于所有路径下的action&ndash;&gt;-->
			<!--<mvc:mapping path="/pages/**/*.action"/>-->
			<!--&lt;!&ndash;定义该拦截器处理程序类，必须是HandlerInterceptor子类&ndash;&gt;-->
			<!--<bean class="com.zhy.util.validate.ValidationInterceptor"/>-->
		<!--</mvc:interceptor>-->
	<!--</mvc:interceptors>-->
</beans> 