<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration   
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!--进行Mybatis的相应的环境的属性定义-->
	<!--在本项目之中开启二级缓存-->
	<settings>
		<setting name="cacheEnabled" value="true"/>
	</settings>

	<!--为所有的vo类定义别名，这样就可以方便不同的配置文件中针对于Vo的访问-->
	<typeAliases>
		<package name="com.zhy.vo"/>
	</typeAliases>

</configuration>